.border {	
    border: 1px solid #e2e2e2;
    padding: 15px;
    margin-bottom: 15px;
}
.jobData {
    position: relative;
    overflow: hidden;
}
.jobCategories {
    color: #ccc;
}
.requestLeadDetails {
    background-color: #0ea432;
    color: #fff;
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
}
.filterButton {
	background-color: #11abd6;
    color: #fff;
    border: none;
    padding: 15px 15px;
    border-radius: 5px;	
}